configuration {
    modi: "drun";
    font: "RobotoMono Nerd Font 14";
    display-drun: "";
    drun-display-format: "{name}";
    sidebar-mode: false;
}

@theme "/dev/null"

* {
    bg: #1d2021;
    fg: #fbf1c7;
    button: #0b151a;

    background-color: @bg;
    text-color: @fg;
}


window {
    transparency: "real";
    width: 400px;

    border-radius: 8px;
}

prompt { 
    enabled: false;
}

entry {
    enabled: false;
    placeholder: "Search";
    placeholder-color: @fg;
    expand: true;
    padding: 1.5%;
    border-radius: 8px;
}

inputbar {
    children: [prompt, entry];
    // Origin: https://wallhaven.cc/w/6d6xwl
    background-image: url("shutdown.jpg", width);
    expand: false;
    border-radius: 0 0 8px 8px;
    padding: 160px 30px 30px 300px;
}

listview {
    columns: 1;
    lines: 4;
    cycle: false;
    dynamic: true;
    layout: horizontal;
    padding: 30px;
}

mainbox {
    children: [inputbar, listview];
}

element {
    padding:        8px 16px;
    spacing:        8px;
    border-radius:  16px;
}

element-text {
    expand: true;
    vertical-align: 0.5;
    background-color: inherit;
    text-color: inherit;
}
element selected {
    background-color: @button;
    border-radius: 8px;
}
