* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "RobotoMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: rgba(52, 52, 52, 0.5);
    border-radius: 0.5rem;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    border-radius: 0.5rem;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.3);
}

#workspaces button {
    margin: 4px 0;
    padding: 2px 0.75rem;
    background-color: transparent;
    color: #e0e0e0;

    border-radius: 0.5rem;
}

#workspaces button:hover {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.3);
}

#workspaces button.focused,
#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 0.75rem;
    color: #ffffff;
}

#pulseaudio {
    padding: 0 1rem;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left {
    margin-left: 1rem;
}


.modules-right * {
    margin-left: 10px;
}

#clock {
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#network {
    color: #90b1b1;
}

#network.disconnected {
    background-color: #ff9090;
}

#pulseaudio {
    color: #fff;
}

#pulseaudio.muted {
    color: #ffd1d1;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state>label {
    padding: 0 5px;
}

#keyboard-state>label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#custom-notification {
    border-radius: 0.5rem;
    font-size: 14pt;
    padding: 0 1em;
}

#custom-notification:hover {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.3);
}
