@import 'gruvbox-dark.css';

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "RobotoMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: transparent;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @fg;
}
*/

window#waybar.termite {
    background-color: @bg_s;
}

window#waybar.chromium {
    background-color: @bg_h;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    margin: 4px 0;
    padding: 2px 0.75rem;
    color: @bg3;

    border-radius: 0.5rem;
}

#workspaces button:hover {
    color: @fg;
}

#workspaces button.focused,
#workspaces button.active {
    color: @fg;
}

#workspaces button.urgent {
    background-color: @red;
    color: @fg;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left {
    background-color: @bg_h;

    border: 2px solid @blue;
    border-radius: 0.5rem;

    margin: 0 6px 6px 0;
    box-shadow: 6px 6px 0 @bg_h;

}


.modules-left widget * {
    color: @fg1;
    background-color: @bg_h;
    padding: 0 1rem;
}

.modules-left widget:last-child * {
    padding-right: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

.modules-left widget:first-child * {
    border-radius: 0.5rem 0 0 0.5rem;
    padding-left: 1rem;
}

.modules-center {
    background-color: @bg_h;

    border: 2px solid @orange;
    border-radius: 0.5rem;

    margin: 0 6px 6px 0;
    box-shadow: 6px 6px 0 @bg_h;
}

.modules-right {
    background-color: @bg_h;

    border: 2px solid @aqua;
    border-radius: 0.5rem;

    margin: 0 6px 6px 0;
    box-shadow: 6px 6px 0 @bg_h;
}

.modules-right widget * {
    color: @fg1;
    background-color: @bg_h;
    padding: 0 1rem;
}

.modules-right widget *:hover {
    color: @yellow;
}

.modules-right widget:first-child * {
    border-radius: 0.5rem 0 0 0.5rem;
}

.modules-right widget:last-child * {
    border-radius: 0 0.5rem 0.5rem 0;
    padding-right: 1.5rem;
}

#custom-separator {
    background-color: @bg_h;
    color: @bg2;
    padding: 0;
    margin: 0;
}

#network {
    color: @blue;
}

#network.disconnected {
    background-color: @red;
}

#pulseaudio.muted {
    color: @red;
}
